@import "../../style/mixin.styl";
  .shop-info
    width 100%
    background-color #2E2F3B
    padding 50px 10px 10px 10px
    box-sizing border-box
    display flex
    .avatar
      margin-right 10px
      img
        border-radius 2px
    .content
      padding-top 2px
      flex 1
      overflow hidden
      color #ffffff
      .delivery
        position relative
        font-size 12px
        line-height 12px
        .time
          position relative
          margin-right 10px
          &:after
            content ''
            display inline-block
            height 12px
            width 1px
            position absolute
            right -6px
            top 3px
            background #fff
            transform scale(0.7)
        .zhuansong
          position absolute
          top 0
          right 0
          display inline-block
          width 50px
          height 15px
          background-image url(../../images/zhuansong.png)
          background-repeat no-repeat
          background-size 50px 15px
      .bulletin
        padding-top 10px
        padding-bottom 10px
        font-size 12px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .activity
        position relative
        font-size 12px
        line-height 12px
        .swiper-container
          height 14px
          z-index 0
          img
            display inline-block
            vertical-align top
            margin-right 3px
        .arrow-right
          position absolute
          width 13px
          height 13px
          top 0
          right 0
  .tab
    position relative
    display flex
    min-height 40px
    border-1px(rgba(228,228,228,0.5))
    .tab-item
      flex 1
      position relative
      height 40px
      line-height 40px
      text-align center
    .active
      position absolute
      display inline-block
      bottom 2px
      left 0
      width 100%
      transition 0.2s ease-in
      transform translateX(0%)
      &:after
        content ''
        position absolute
        display inline-block
        margin-left -10px
        left 50%
        height 2px
        width 20px
        background #ffd300
  .shop-container
    flex 1
    overflow hidden
    .shop-tab
      display flex
      width 100%
      height 100%
      transition-duration: 200ms;
      .food-container
        width 100%
        flex 0 0 auto
        display flex
        overflow hidden
        .menu-wrapper
          width 80px
          margin-bottom 50px
          background: #f5f5f5
          .menu-item
              min-height 49px
              padding 10px
              color #666666
              box-sizing: border-box;
              padding-top: 9px;
              padding-bottom: 22px;
              &.active
                background #fff
                font-weight bold
                color #000
              span
                display inline-block
                font-size 13px
                line-height 18px
                padding-left 3px
                vertical-align top
        .food-wrapper
          flex 1
          margin-bottom 50px
          position: relative;
          padding-left 10px
          overflow-y hidden
          .food-list
            h1
             height 36px
             line-height 36px
             width 100%
             font-size 12px
             font-weight normal
            .food-item
              display flex
              margin-bottom 20px
              &:last-child
                margin-bottom 0
              .icon
                margin-top 3px
                margin-right 10px
              .content
                flex 1
                position relative
                padding-right 10px
                min-height 62px
                padding-bottom 40px
                overflow hidden
                .name
                  overflow hidden
                  text-overflow ellipsis
                  color #333333
                  font-size 16px
                  line-height 22px
                  -webkit-line-clamp 2
                  -webkit-box-orient vertical
                  display -webkit-box
                .desc
                  font-size 11px
                  line-height 15px
                  color #333333
                  margin 3px 0
                  overflow hidden
                  text-overflow ellipsis
                  white-space nowrap
                .sale-num
                  font-size 11px
                  line-height 15px
                  color #666
                  margin 3px 0
                  .praise
                    margin-left 10px
                .price-unit
                  position absolute
                  width 100%
                  color #a9a9a9
                  font-size 11px
                  bottom 20px
                  text-align left
                  text-indent -3px
                  .price
                    color #fb4e44
                    font-size 18px
                    line-height 22px
                    font-weight 600
                  .origin
                    text-decoration line-through
                .promotion
                  position absolute
                  bottom 0
                  width 100%
                  span
                    display inline-block
                    padding 0 5px
                    margin-right 3px
                    border 1px solid #fb4e44
                    color #fb4e44
                    font-size 10px
                    line-height 13px
                    vertical-align top
      .comment-container
        width 100%
        flex 0 0 auto
        overflow hidden
        background rgb(244,244,244)
        .comment-hdaer
          display flex
          justify-content space-between
          padding 15px 0
          margin-bottom 10px
          background #fff
          .score
            flex 1
            display flex
            flex-direction column
            justify-content space-between
            min-height 50px
            color #999999
            font-size 12px
            text-align center
            &:first-child
              margin-right 20px
            &:nth-child(2)
              position relative
              &:after
                content ''
                height 50px
                width 1px
                display inline-block
                position absolute
                right 0
                background #e4e4e4
                transform: scale(0.5, 1);
            .shop-score
              font-size 27px
              color #ffb000
            .quality,.pack
              text-align left
              color #333
              span:first-child
                margin-right 10px
              span:last-child
                margin-left 10px
                color #ffb000
            .quality
              line-height 20px
            .delivery
              font-size  27px
        .comment-label
          background #fff
          padding-top 15px
          padding-left 15px
          border-1px(rgba(228,228,228,0.5))
          .label-item
            display inline-block
            padding 5px 10px
            margin-right 10px
            margin-bottom 15px
            border 1px solid #dddddd
            border-radius 20px
            font-size 14px
            color #333
            &.active
              background #fffbf1
              color #FFB000
        .comment-list
          background #fff
          .comment-list-li
            padding-top 15px
            padding-left 15px
            display flex
            border-1px(rgba(228,228,228,0.5))
            .icon img
              width 40px
              height 40px
              border-radius 50%
              margin-right 15px
            .comment-list-details
              padding-right 15px
              padding-bottom 10px
              box-sizing border-box
              .name
                font-size 16px
                line-height 16px
                color #2f2f2f
                .time
                  font-size 12px
                  color #898989
                  float right
              .delivery
                color #666666
                font-size 12px
                line-height 20px
              .content
                margin-top 10px
                margin-bottom 10px
                font-size 14px
                line-height 20px
                color #2f2f2f
              .pic
                display inline-block
                margin-right 5px
                margin-bottom 5px
                width 80px
                height 80px
              .dish,.label
                margin-bottom 3px
                font-size 12px
                line-height 20px
                color #999
                svg
                  vertical-align bottom
                  margin-right 5px
              .reply
                 padding 5px
                 margin-bottom 10px
                 font-size 12px
                 line-height 16px
                 letter-spacing 1px
                 color #666666
                 background #f4f4f4   
  .screen-cover
    position fixed
    z-index 30
    top 0
    bottom 0
    width: 100%
    height: 100%
    backdrop-filter: blur(10px)
    opacity: 1
    background: rgba(7, 17, 27, 0.6)
    &.fade-enter-active, &.fade-leave-active
      transition: all 0.5s
    &.fade-enter, &.fade-leave-active
      opacity: 0
      background: rgba(7, 17, 27, 0)
  .cartcontrol-wrapper
    position absolute
    right 10px
    top 0
    z-index 10
    .specification
      padding 0 10px
      background #ffc132
      background-image: linear-gradient(-135deg, #FFBD27 0%, #FFD161 100%);
      border-radius 25px
      font-size 12px
      line-height 25px
      color #333