@import "../../style/mixin.styl";
  .shop-info
    width 100%
    background-color #2E2F3B
    padding 50px 10px 10px 10px
    box-sizing border-box
    display flex
    .avatar
      margin-right 10px
      img
        border-radius 2px
    .content
      padding-top 2px
      flex 1
      overflow hidden
      color #ffffff
      .delivery
        position relative
        font-size 12px
        line-height 12px
        .time
          position relative
          margin-right 10px
          &:after
            content ''
            display inline-block
            height 12px
            width 1px
            position absolute
            right -6px
            top 3px
            background #fff
            transform scale(0.7)
        .zhuansong
          position absolute
          top 0
          right 0
          display inline-block
          width 50px
          height 15px
          background-image url(../../images/zhuansong.png)
          background-repeat no-repeat
          background-size 50px 15px
      .bulletin
        padding-top 10px
        padding-bottom 10px
        font-size 12px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .activity
        position relative
        font-size 12px
        line-height 12px
        .swiper-container
          height 14px
          z-index 0
          img
            display inline-block
            vertical-align top
            margin-right 3px
        .arrow-right
          position absolute
          width 13px
          height 13px
          top 0
          right 0
  .tab
    position relative
    display flex
    min-height 40px
    border-1px(rgba(228,228,228,0.5))
    .tab-item
      flex 1
      position relative
      height 40px
      line-height 40px
      text-align center
    .active
      position absolute
      display inline-block
      bottom 2px
      left 0
      width 100%
      transition 0.2s ease-in
      transform translateX(0%)
      &:after
        content ''
        position absolute
        display inline-block
        margin-left -10px
        left 50%
        height 2px
        width 20px
        background #ffd300
  .shop-container
    flex 1
    overflow hidden
    .shop-tab
      display flex
      width 100%
      height 100%
      transition-duration: 200ms;  
  .screen-cover
    position fixed
    z-index 30
    top 0
    bottom 0
    width: 100%
    height: 100%
    backdrop-filter: blur(10px)
    opacity: 1
    background: rgba(7, 17, 27, 0.6)
    &.fade-enter-active, &.fade-leave-active
      transition: all 0.5s
    &.fade-enter, &.fade-leave-active
      opacity: 0
      background: rgba(7, 17, 27, 0)
  .cartcontrol-wrapper
    position absolute
    right 10px
    top 0
    z-index 10
    .specification
      padding 0 10px
      background #ffc132
      background-image: linear-gradient(-135deg, #FFBD27 0%, #FFD161 100%);
      border-radius 25px
      font-size 12px
      line-height 25px
      color #333