 .qualification
    position fixed
    padding 10px
    top 0
    left 0
    right 0
    bottom 0
    top 0
    background #f6f6f6
    z-index 50
    .content
      padding 10px
      margin-bottom 10px
      border-radius 10px
      background #fff
      p
       display flex
       margin-top 20px
       span:first-child
         flex-shrink 0
         margin-right 6px
         width 75px
         color #c4a6a6
         font-size 12px
         line-height 20px
       span:last-child
         line-height 20px
         font-size 14px
    .title
      font-size 14px
      line-height 30px
    .pics
      display flex
      height 120px
      margin-top 5px
      .pic
        flex 1
        border-radius 6px
        overflow hidden
        &:first-child
          margin-right 3px
        &:last-child
          margin-left 3px
        img
         object-fit cover